<!DOCTYPE html>
<html>
  <head>
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('partials/navigation', { menuLinks, activeLinkPath }); %>
    <main>
      <h1>Search for a book</h1>
      <form action="/add" method="GET">
        <input
          class="search-input"
          type="text"
          name="query"
          placeholder="Title or author"
          value="<%= query %>"
          required
        />
        <button class="search-button" type="submit">Search</button>
      </form>

      <% if (books && books.length > 0) { %>
        <h2>Results:</h2>
        <ul>
          <% books.forEach(book => {
            const info = book.volumeInfo;
          %>
            <li class="book-info"> 
              <div class="book-container">
                <% if (info.imageLinks && info.imageLinks.thumbnail) { %>
                  <div class="book-image">
                    <img src="<%= info.imageLinks.thumbnail %>" alt="Book Cover" />
                  </div>
                <% } %>

                <div class="book-details">
                  <h3>Title: <%= info.title %></h3>
                  <% if (info.authors) { %>
                    <p><strong>Author:</strong> <%= info.authors.join(', ') %></p>
                  <% } %>
                  <% if (info.categories) { %>
                    <p><strong>Genre:</strong> <%= info.categories.join(', ') %></p>
                  <% } %>

                  <form action="/list" method="POST" class="add-form">
                    <input type="hidden" name="title" value="<%= info.title %>">
                    <input type="hidden" name="authors" value="<%= info.authors ? info.authors.join(', ') : '' %>">
                    <input type="hidden" name="thumbnail" value="<%= info.imageLinks?.thumbnail || '' %>">
                    <input type="hidden" name="categories" value="<%= info.categories ? info.categories.join(', ') : '' %>">
                    <button id="addButton" type="submit">Add to list</button>
                    <span id="add-message" style="margin-left: 1rem; color: green;"></span>
                  </form>
                </div>
              </div>
            </li>
          <% }); %>
        </ul>
      <% } else if (query) { %>
        <p>No results "<%= query %>".</p>
      <% } %>
    </main>
  </body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelector("#addButton").addEventListener("click", () => {
      document.getElementById("add-message").innerHTML="Book Added";
    });
  });
</script>