<!DOCTYPE html>
<html>
<head>
  <title><%= headTitle %></title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <%- include('partials/navigation', { menuLinks, activeLinkPath }); %>
  <main>
    <h1>My List</h1>
    <form method="GET" action="/list">
      <input class="search-input" type="text" name="author" placeholder="Author" value="<%= author || '' %>">
      <input class="search-input" type="text" name="category" placeholder="Genre" value="<%= category || '' %>">
      <select class="search-input" name="status">
        <option value="">All</option>
        <option value="read" <%= status === 'read' ? 'selected' : '' %>>Read</option>
        <option value="unread" <%= status === 'unread' ? 'selected' : '' %>>Unread</option>
      </select>
      <button class="search-button" type="submit">Filter</button>
    </form>

    <% if (books.length > 0) { %>
      <ul>
        <% books.forEach(book => { %>
          <li class="book-info">
            <div class="book-container">
              <% if (book.thumbnail) { %>
                <div class="book-image">
                  <img src="<%= book.thumbnail %>" alt="Book Cover">
                </div>
              <% } %>

              <div class="book-details">
                <h3>Title: <%= book.title %></h3>

                <% if (book.authors) { %>
                  <p><strong>Author:</strong> <%= book.authors %></p>
                <% } %>

                <% if (book.categories) { %>
                  <p><strong>Genre:</strong> <%= book.categories %></p>
                <% } %>

                <div class="add-form">
                  <form action="/list/delete/<%= book._id %>" method="POST" style="display: inline;">
                    <button type="submit" class="book-button delete">Delete</button>
                  </form>

                  <% if (book.status === 'read') { %>
                    <form action="/list/mark-as-unread/<%= book._id %>" method="POST" style="display: inline;">
                      <button type="submit" class="book-button unread">Mark as unread</button>
                    </form>
                  <% } else { %>
                    <form action="/list/mark-as-read/<%= book._id %>" method="POST" style="display: inline;">
                      <button type="submit" class="book-button read">Mark as read</button>
                    </form>
                  <% } %>
                </div>
              </div>
            </div>
          </li>

        <% }) %>
      </ul>
    <% } else { %>
      <p>No books on the list yet.</p>
    <% } %>
  </main>
</body>
</html>

